<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Address Locator</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
</head>
<body>
    <div class="top-container">
        <h1>IP Address Tracker</h1>
        <div class="searchBar">
            <input type="text" name="IPaddress" id="ipAddress">
            <button id="btn"><img src = '/images/icon-arrow.svg' alt = "arrow button"></button>
        </div>
    </div>
    <div id="map"></div>
    <script>
        const address = document.getElementById('ipAddress');
        const btn = document.getElementById('btn');
        let mymap;
        let initialLatitude = 51.505;
        let initialLongitude = -0.09;
        document.addEventListener("DOMContentLoaded", ()=>{
            initmap(initialLatitude,initialLongitude);
        })
        btn.addEventListener("click",()=>{
            const ip = address.value;
            
            const baseUrl = "https://geo.ipify.org/api/v2/country,city?apiKey=at_iNvMwvqTJAMWVCT9ioolGQJvMlRkQ&ipAddress=";
            const url = baseUrl + encodeURI(ip);
            fetch(url)
            .then(response => response.json())
            .then(data => {
                latitude = data.location.lat;
                longitude = data.location.lng;
                updateMap(latitude,longitude);
                let searchResults = document.createElement('div');
                searchResults.classList.add('searchResults');
                let details =  document.createElement('div');
                details.classList.add('details', 'border');
                let h3 = document.createElement('h3');
                h3.innerText = "IP ADDRESS";
                let p = document.createElement('p');
                p.innerText = data.ip;
                details.appendChild(h3);
                details.appendChild(p);
                searchResults.appendChild(details);
                details =  document.createElement('div');
                details.classList.add('details', 'border');
                h3 = document.createElement('h3');
                h3.innerText = "LOCATION";
                p = document.createElement('p');
                p.innerText = data.location.region + ", " + data.location.country;
                details.appendChild(h3);
                details.appendChild(p);
                searchResults.appendChild(details);
                details =  document.createElement('div');
                details.classList.add('details', 'border');
                h3 = document.createElement('h3');
                h3.innerText = "TIMEZONE";
                p = document.createElement('p');
                p.innerText = data.location.timezone;
                details.appendChild(h3);
                details.appendChild(p);
                searchResults.appendChild(details);
                details =  document.createElement('div');
                details.classList.add('details');
                h3 = document.createElement('h3');
                h3.innerText = "ISP";
                p = document.createElement('p');
                p.innerText = data.isp;
                details.appendChild(h3);
                details.appendChild(p);
                searchResults.appendChild(details);
                document.body.appendChild(searchResults);
                });
            });
        // Maps
        function initmap(latitude,longitude){
            mymap = L.map('map').setView([latitude, longitude], 13);
            const attribution = '&copy; <a href="http://{s}www.openstreetmap.org/copyright">OpenStreetMap</a>';
            const tileUrl  =  'https://tile.openstreetmap.org/{z}/{x}/{y}.png';
            const tiles = L.tileLayer(tileUrl, {attribution});
            tiles.addTo(mymap);
            var marker = L.marker([latitude, longitude]).addTo(mymap);
        }
        function updateMap(latitude,longitude){
            mymap.setView([latitude,longitude],13);
            L.marker([latitude, longitude]).addTo(mymap);
        }
    </script>
</body>
</html>