input{
    width:30%;
    height:50px;
    border-radius: 5px;
    background-color: hsl(235, 21%, 11%);
    outline: none;
    border:none;
    color: hsl(236, 33%, 92%);
    font-size: large;
    opacity: 0.5;
}