:root {
    --Dark-Blue: hsl(209, 23%, 22%);
    --Very-Dark-Blue: hsl(207, 26%, 17%);
    --Dark-Blue-text: hsl(200, 15%, 8%);
    --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
    --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
    --White-Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%);
  }
body{
    margin:0;
    padding:0;
    overflow-x:hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 50px;
}
.dark{
    display: flex;
    align-items: center;
    gap:10px;
    color:var(--Dark-Blue-text);
    cursor: pointer;
}
.light{
    display: flex;
    align-items: center;
    gap:10px;
    color:white;
    cursor: pointer;
}
h1{
    color:var(--Dark-Blue-text);
}
main{
    background:var(--Very-Light-Gray-Light-Mode-Background);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.searchBar{
    display: flex;
    align-items: center;
    background-color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
    width: 450px;
    height: 40px;  
    gap:10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
}
.searchBar>input{
    border:none;
    outline:none !important;
}
.searchAndfilter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding:20px 50px;
    margin:10px;
}
.filter{
    background-color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
    width: 150px;
    height: 30px;
}
.white::placeholder{
    color:white;
}
.black::placeholder{
    color:var(--Dark-Blue-text);
    }
.country{
    box-sizing: border-box;
    width:25%;
    height:auto;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
    box-shadow: 1px 1px 5px gray;
    margin:20px;
}
.country > img{
    
    width: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 600px) {
    header{
        padding:0 10px;
        font-size: small;
    }
    .searchAndfilter{
        padding:10px 25px;
        margin:5px;
    }
    .searchBar{
        width: 200px; 
        gap:4px;
    }
    .filter{
        width: 70px;
        height: 20px;
        font-size: small;
    }
    .country{
        width:50%;
        height:auto;
        padding: 5px;
        border-radius: 5px;
        margin:10px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 750px) {
    .searchAndfilter{
        padding:10px 15px;
        margin:5px;
    }
    .filter{
        width: 120px;
        height: 20px;
    }
}